# Standard
dev/
data/cache/
__pycache__/
.idea/
.DS_Store
.env

# JS/Node/NPM
/node_modules/

# Specialized
_archive/
*ignore/

# Test
test/output/

# More
/*.json
/*.owl
/env/*
/.idea/
/.run/
/venv/
cache/*
_dev/
backup/
build/
dist/
ignored/
*~$*
*.DS_Store
*.egg-info
*.swp
MANIFEST
tags
