distlib==0.3.6
filelock==3.11.0
MarkupSafe==2.1.2
numpy==1.24.2
pandas==2.0.0
pbr==5.11.1
platformdirs==3.2.0
python-dateutil==2.8.2
pytz==2023.3
six==1.16.0
stevedore==5.0.0
tzdata==2023.3
virtualenv==20.21.0
virtualenv-clone==0.5.7
